.container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: bisque;
    text-align: center;
    border-radius: 10px;
}

p {
    margin: 5px;
}