.navbar {
    /* position: fixed;
    top: 10px;
    left: 0; */
    height: 65px;
    background-color: black;
}

.d-flex {
    color: white;
}

.border-bottom {
    border-bottom: 2px solid #ffffff;
  }