@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@700&display=swap');

@media (max-width: 1000px) {
  .countries-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.countries-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  font-family: 'Chivo Mono', monospace;
}
