@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@700&display=swap');

/* @media (min-width: 500px) {
  .countries-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    font-family: 'Chivo Mono', monospace;
  }
} */



.countries-container {
  padding: 100px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  font-family: 'Chivo Mono', monospace;
  background-color: black;
}
